#other
*.pyc
*.idea
__pycache__
.project
.venv

#db
workbench/migrations/*
rbac/migrations/*
users/migrations/*
work_manage/local_settings.py
work_manage/__init__

#bootstrap
static/rbac/*
