<div id="left-bar">
    <ul class="list-group">
        <li class="list-group-item active">Menu item 1</li>
        <li class="sub-list">
            <ul class="list-group ">
                <li class="list-group-item">Sub item 1</li>
                <li class="list-group-item active">Sub item 2
                <li class="sub-list">
                    <ul class="list-group ">
                        <li class="list-group-item" href="#">Sub item 1</li>
                        <li class="list-group-item" href="#">Sub item 2</li>
                        <li class="list-group-item" href="#">Sub item 3</li>
                    </ul>
                </li>
                </li>
                <li class="list-group-item">Sub item 3</li>
            </ul>
        </li>
        <li class="list-group-item">Menu item 2</li>
        <li class="sub-list" style="display: none">
            <ul class="list-group ">
                <li class="list-group-item">Sub item 1</li>
                <li class="list-group-item">Sub item 2</li>
                <li class="list-group-item">Sub item 3</li>
            </ul>
        </li>
        <li class="list-group-item">Menu item 3</li>
        <li class="list-group-item">Menu item 4</li>
        <li class="list-group-item">Menu item 5</li>


    </ul>

</div>