<nav class="navbar navbar-inverse navbar-static-top " id="top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/" style="padding: 10px">
        <img alt="Watone" src="/static/img/logo-sm.png">
      </a>
      <a href="/" class="navbar-brand">华通云数据 </a>
    </div>
    <nav id="bs-navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="{% url 'workbench:index' %}">workbench</a>
        </li>
        <li>
          <a href="#">model2</a>
        </li>
        <li>
          <a href="#">model3</a>
        </li>
        <li>
          <a href="#">model4</a>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" ><span class="glyphicon glyphicon-user"></span> login</a></li>
      </ul>
    </nav>
  </div>
</nav>