{% extends "layout/layout.html" %}

{% block content %}

<!-- Content Header (Page header) -->
{% if messages %}
    <div class="col-xs-12">
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible msg" data-dismiss="alert" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ message }}
        </div>
        {% endfor %}
    </div>
{% endif %}
<section class="content-header margin-bottom">
  <ol class="breadcrumb">
    <li class="active">403 Forbidden</li>
  </ol>
</section>
    <!-- Main content -->
  <section class="content">
    <section class="content">
      <div class="error-page">
        <h2 class="headline text-yellow">403 Forbidden</h2>

          <p>&nbsp</p>
        <div class="error-content">
          <h3><i class="fa fa-warning text-yellow"></i> 您的请求被拒绝</h3>

        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->
    </section>


  </section>

    <!-- /.content -->

{% endblock %}