{% extends "layout/layout.html" %}

{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header margin-bottom">
  <ol class="breadcrumb">
    <li class="active">403 Forbidden</li>
  </ol>
</section>
    <!-- Main content -->
  <section class="content">
    <section class="content">
      <div class="error-page">
        <h2 class="headline text-yellow">403 Forbidden</h2>

          <p>&nbsp</p>
        <div class="error-content">
          <h3><i class="fa fa-warning text-yellow"></i> 您的请求被拒绝</h3>

        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->
    </section>


  </section>

    <!-- /.content -->

{% endblock %}