{% extends "users/user-base.html" %}

{% block user-content %}
<!-- /.login-logo -->
<div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 ">
    {% if msg %} <!--判断如果后端返回用户验证错误信息,前端页面输出错误信息-->
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ msg }}
    </div>
    {% endif %}
    <form action="" method="post">

        <div class="form-group has-feedback {% if login_form.errors.username %}has-error{% endif %}">
            <input name="username" class="form-control" placeholder="用户名" value="{{ login_form.username.value }}">
            <!--type="email"前端控制email输入验证-->
            <span class="glyphicon glyphicon-user  form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback {% if login_form.errors.password %}has-error{% endif %}">
            <input name="password" type="password" class="form-control" placeholder="密码"
                   value="{{ login_form.password.value }}">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>

        <div class="pull-right">
            <button type="submit" class="btn btn-primary btn-block btn-flat">登录</button>
        </div>

        {% csrf_token %}
    </form>
</div>
</div>
{% endblock %}