{% extends './base.html' %}
{% block title %}
    增加职位  - {{ block.super }}
{% endblock %}
{% block content %}
<div class="box box-danger">
	<form class="form-horizontal" id="addForm" method="post" action="">
		{% csrf_token %}

		<div class="box-body">
          <fieldset>
            <legend>
              <h4>职位信息</h4>
            </legend>
            <div class="form-group has-feedback">
                <label class="col-sm-2 control-label">职位名称</label>
                <div class="col-sm-3">
                    <input class="form-control" name="name" type="text" />
                </div>

            </div>
            <div class="form-group has-feedback">
                <label class="col-sm-2 control-label">是否为领导</label>
                  <div class="col-sm-3">
                    <select class="form-control select2" name="is_leader">
                        <option value="False">False</option>
                        <option value="True">True</option>
                  </select>
                </div>
            </div>
          </fieldset>
		</div>
		<div class="box-footer ">
			<div class="row span7 text-center ">
              <input id="postbtn"  type="button"  value="提交" >
			</div>
		</div>
	</form>
</div>

{% endblock %}

{% block JS %}
{{ block.super }}
<script>
    $(function () {
       postbtn();
    });

    function postbtn() {
        $('#postbtn').off().on('click',function () {
            var Formdata = $('#addForm').serialize();
            $.ajax(
                {
                    url:"{% url 'rbac:post-add' %}",
                    type:'POST',
                    data:Formdata,
                    dataType:"JSON",
                    success:function (arg) {
                      if(arg.status){
                        alert('职位添加成功');
                        window.location.href="{% url 'rbac:post-display' %}";
                      }else {
                          alert(arg.msg);
                          window.location.reload();
                      }
                    },
                }
            )
        });

    }
</script>
{% endblock %}
