{% extends "layout/layout.html" %}
{% block title %} 个人中心{% endblock  %}

{% block CSS %}
{{ block.super }}
<style>
    .block {
        display: block;
        padding: 10px 10px;
        min-height: 200px;
        border: 1px #D3D3D3 solid;
        border-radius: 5px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    }

    .img-head {
        height: 100px;
        width: 100px;
    }

</style>
{% endblock %}
{% block content %}
<h3>个人中心</h3>
<div class=" col-xs-4">
<div class="block col-xs-12">
    <div class="text-center"><img src="/static/media/img/logo-big.png" class="img-circle img-thumbnail img-head"/></div>
    <div class="text-center">{{ user.name }} - {{ user.post|default:'岗位' }}</div>
    <hr>
    <div class="col-xs-10 col-xs-offset-2">姓名 : {{ user.name }}</div>
    <div class="col-xs-10 col-xs-offset-2">邮箱 : {{ user.email }}</div>
    <div class="col-xs-10 col-xs-offset-2">电话 : {{ user.mobile }}</div>


</div>
    <div class="block col-xs-12">
    </div>
</div>

<div class="block col-xs-8">
    <form class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="col-xs-12">
            <h4>基本信息</h4><hr>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label for="username" class="col-xs-3 control-label">用户名</label>
                <div class="col-xs-9">
                    <input class="form-control" name="username" value="{{ user.username }}" readonly>
                </div>
            </div>
            <div class="form-group">
                <label for="gender" class="col-xs-3 control-label">性别</label>
                <div class="col-xs-9">
                    <input class="form-control" name="gender" value="{{ user.gender|default:'' }}" >
                </div>
            </div>
        </div>
        <div class="col-xs-6">

            <div class="form-group">
                <label for="name" class="col-xs-3 control-label">姓名</label>
                <div class="col-xs-9">
                    <input class="form-control" name="name" value="{{ user.name }}">
                </div>
            </div>
            <div class="form-group">
                <label for="birthday" class="col-xs-3 control-label">生日</label>
                <div class="col-xs-9">
                    <input class="form-control" name="birthday"  value="{{ user.birthday|default:'' }}">
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <h4>联系方式</h4><hr>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label for="e-mail" class="col-xs-3 control-label">e-mail</label>
                <div class="col-xs-9">
                    <input class="form-control" name="e-mail" value="{{ user.email|default:'' }}">
                </div>
            </div>

        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label for="mobile" class="col-xs-3 control-label">电话</label>
                <div class="col-xs-9">
                    <input class="form-control" name="mobile" value="{{ user.mobile|default:'' }}" >
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <h4>其他信息</h4><hr>
        </div>

        <div class="col-xs-6">
            <div class="form-group">
                <label for="department" class="col-xs-3 control-label">部门</label>
                <div class="col-xs-9">
                    <input class="form-control" id="department"  value="{{ user.department|default:'' }}" readonly>
                </div>
            </div>
            <div class="form-group">
                <label for="post" class="col-xs-3 control-label">岗位</label>
                <div class="col-xs-9">
                    <input class="form-control" id="post"  value="{{ user.post|default:'' }}" readonly >
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label for="joined-date" class="col-xs-3 control-label">工作时间</label>
                <div class="col-xs-9">
                    <input class="form-control" id="joined-date"  value="{{ user.joined_date|default:'' }}" readonly>
                </div>
            </div>
            <div class="form-group">
                <label for="superior" class="col-xs-3 control-label">上级主管</label>
                <div class="col-xs-9">
                    <input class="form-control" id="superior"  value="{{ user.superior|default:'' }}" readonly>
                </div>
            </div>
        </div>
        <hr>
        <div class="col-xs-12">
            <div class="pull-right">
                <button type="button" class="btn btn-default">reset</button>
                <button type="submit" class="btn btn-primary">save</button>
            </div>
        </div>
    </form>
</div>
{% endblock  %}