<!DOCTYPE html>
<html>
	<head profile="http://gmpg.org/xfn/11" >
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="imagetoolbar" content="no" />
		<title>{% block title %} Default Title {% endblock %}</title>

        {% block CSS %}
		<link href="/static/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/dist/CSS/left_bar.css" rel="stylesheet">
		<link href="/static/dist/CSS/nav_bar.css" rel="stylesheet">
		<link href="/static/dist/CSS/layout.css" rel="stylesheet">
        {% endblock %}
	</head>

	<body>
	{% include "./nav_bar.html" %}
	{% include "./left_bar.html" %}
		<div id="right-container">
			<div class="container">
				{% block content %}
				<h1 class="text-center">Main Content</h1>
				{% endblock %}
			</div>
		</div>
	{% include "./bot.html" %}
	</body>
	{% block JS %}
		<script type="text/javascript" src="/static/lib/jquery-3.3.1/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="/static/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/static/dist/JS/left_bar.js"></script>
	{% endblock %}
</html>
{% comment %}
	Usage:
		https://docs.djangoproject.com/zh-hans/2.1/ref/templates/language/#the-django-template-language
	e.g.:
		{% extends "layout/layout.html" %}

		{% block title %} page title {% endblock  %}
		{% block CSS %}
			{{ block.super }}
			<link href="other_stylesheet" rel="stylesheet">
		{% endblock  %}

		{% block content %}
			your main content
		{% endblock  %}

		{% block JS %}
			{{ block.super }}
			<script type="text/javascript" src="other_js"></script>
		{% endblock %}
{% endcomment %}
